*{
  background-color:antiquewhite;
}

.lead{
  font-size:25px;
}


body {
  font-family: 'Righteous', cursive;
    font-size: 16px;
    background-color:antiquewhite;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
    color: #ffffff;
    font-size: large;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  .hour {
    background-color:darksalmon;
    color:#ffffff;
    border-top: 1px dashed #000000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: large;
  }
  
  .past {
    background-color:firebrick;
    color: white;
  }
  
  .present {
    background-color:cadetblue;
    color: white;
  }
  
  .future {
    background-color:mediumseagreen;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:darksalmon;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 30px;
    transition: all 0.3s ease-in-out;
  }

  #clear{
padding:15px;
margin-top:15px;
border-radius: 25px;
background-color:darkred;
font-size: large;
color:white
  }

  i{
    background-color:transparent;

  }
  header{
    border-bottom: 20px solid black;
  }